/build
/bld
/CMakeFiles
/.idea
/.vscode
CMakeCache.txt
.autotools
.settings
.out
cmake-build*
.project
.cproject
.vs/
out/
CMakeSettings.json
.dist/
.DS_Store
build.sh
*.sw?
/tags
script.sh
conf_data/robot_cfg/___conf_data_*.c
conf_data/robot_cfg/resource_binary.*
conf_data/robot_cfg/reorganizeJson.cfg
make.sh
/Debug/
PlagTheSpire/PlagTheSpire.vcxproj.user
